name: Golang Code Lint
# Lint runs golangci-lint over the entire Tendermint repository
# This workflow is run on every pull request and push to master
# The `golangci` job will pass without running if no *.{go, mod, sum} files have been modified.
on:
  push:
    branches:
      - master
      - develop
      - release*
      - fix-release*

  pull_request:
    branches:
      - master
      - develop
      - release*
      - fix-release*

jobs:
  golangci:
    name: golangci-lint
    runs-on: ${{ matrix.os }}
    env:
      GOPRIVATE: github.com/bnb-chain
      GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
    timeout-minutes: 8
    strategy:
      matrix:
        go-version: [1.20.x]
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v3
      - name: Setup GitHub Token
        run: git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/

      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - uses: bufbuild/buf-setup-action@v1.14.0
        with:
          version: 1.14.0
          buf_user: "${{ secrets.BUF_REGISTRY_USER }}"
          buf_api_token: "${{ secrets.BUF_REGISTRY_SECRET }}"
      
      - name: Install Protoc
        uses: arduino/setup-protoc@v1

      - run: |
          make install-tools
          make buf-gen

      - uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - run: |
          go mod tidy
          go mod download

      - uses: golangci/golangci-lint-action@v3
        with:
          # Required: the version of golangci-lint is required and
          # must be specified without patch version: we always use the
          # latest patch version.
          version: v1.50.1
          skip-pkg-cache: true
          skip-cache: true
          skip-build-cache: true
          args: --timeout 30m -v
          github-token: ${{ secrets.github_token }}
        if: env.GIT_DIFF
