name: E2E Test

on:
  push:
    branches:
      - master
      - develop
      - release*
      - fix-release*

  pull_request:
    branches:
      - master
      - develop
      - release*
      - fix-release*

env:
  GreenfieldTag: develop_v0.47_latest
  GreenfieldIntegrationTestBranch: adapt-greenfield-develop_v0.47_latest-develop
  GOPRIVATE: github.com/bnb-chain
  GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
  MYSQL_USER: root
  MYSQL_PASSWORD: root
  MYSQL_ROOT_PASSWORD: root
  MYSQL_IP: 127.0.0.1
  MYSQL_PORT: 3306

jobs:
  e2e-test:
    strategy:
      matrix:
        go-version: [ 1.19.x ]
        os: [ ubuntu-latest ]
    runs-on: ubuntu-latest

    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - name: Setup GitHub Token
        run: git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/
      # Checkout Greenfield-SP
      - name: Checkout Greenfield-SP
        uses: actions/checkout@v3
      # Build Greenfield-SP
      - name: Build Greenfield-SP
        run: |
          make install-tools
          make build
      # Build Greenfield
      - name: Build Greenfield
        run: |
          git clone https://github.com/bnb-chain/greenfield.git
          cd greenfield
          git checkout ${{ env.GreenfileldTag }}
          make proto-gen & make build
          cd ..
      # Run MySQL
      - name: Run MySQL
        run: |
          sudo /etc/init.d/mysql start
          mysql -h${{ env.MYSQL_IP }} -P${{ env.MYSQL_PORT }} -u${{ env.MYSQL_USER }} -p${{ env.MYSQL_PASSWORD }} -e 'CREATE DATABASE sp_0; CREATE DATABASE sp_1;CREATE DATABASE sp_2; CREATE DATABASE sp_3;CREATE DATABASE sp_4; CREATE DATABASE sp_5; CREATE DATABASE sp_6;'
      # Run Greenfield
      - name: Run Greenfield
        run: |
          cd greenfield
          bash ./deployment/localup/localup.sh all 1 7
          bash ./deployment/localup/localup.sh export_sps 1 7 > sp.json
          cd ..
      # Run Greenfield-SPs
      - name: Run Greenfield-SPs
        run: |
          bash ./deployment/localup/localup.sh --generate $GITHUB_WORKSPACE/greenfield/sp.json ${{ env.MYSQL_USER }} ${{ env.MYSQL_PASSWORD }} ${{ env.MYSQL_IP }}:${{ env.MYSQL_PORT }}
          bash ./deployment/localup/localup.sh --reset
          bash ./deployment/localup/localup.sh --start
          sleep 5
          tail -n 1000 deployment/localup/local_env/sp0/gnfd-sp.log
          ps -ef | grep gnfd-sp | wc -l
      # Run E2E Test
      - name: Run Greenfield E2E Test
        run: |
          git clone https://github.com/bnb-chain/greenfield-integration-test.git
          cd greenfield-integration-test
          git checkout ${{ env.GreenfieldIntegrationTestBranch }}
          cd ..
          /bin/cp -rf test/e2e/localup_env/integration_config/config.yml greenfield-integration-test/config/config.yml
          cd greenfield-integration-test
          go test -v  tests/storage/new_sdk_test.go
          cd ..