name: E2E Test

on:
  push:
    branches:
      - master
      - develop
      - release*
      - fix-release*

  pull_request:
    branches:
      - master
      - develop
      - release*
      - fix-release*

env:
  GreenfieldTag: develop_v0.47_latest
  GreenfieldIntegrationTestBranch: fynn/new_sdk_test
  GOPRIVATE: github.com/bnb-chain
  GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
  MYSQL_USER: root
  MYSQL_PASSWORD: root
  MYSQL_ROOT_PASSWORD: root

jobs:
  e2e-test:
    strategy:
      matrix:
        go-version: [ 1.19.x ]
        os: [ ubuntu-latest ]
    runs-on: ubuntu-latest

    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - name: Setup GitHub Token
        run: git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/
      # Checkout Greenfield-SP
      - name: Checkout Greenfield-SP
        uses: actions/checkout@v3
      # Build Greenfield-SP
      - name: Build Greenfield-SP
        run: |
          make install-tools
          make build
      # Build Greenfield
      - name: Build Greenfield
        run: |
          git clone https://github.com/bnb-chain/greenfield.git
          cd greenfield
          git checkout ${{ env.GreenfileldTag }}
          make proto-gen & make build
          cd ..
      # Run MySQL
      - name: Run MySQL
        run: |
          sudo /etc/init.d/mysql start
          mysql -h 127.0.0.1 -P 3306 -u${{ env.MYSQL_USER }} -p${{ env.MYSQL_PASSWORD }} -e 'CREATE DATABASE sp_0; CREATE DATABASE sp_1;CREATE DATABASE sp_2; CREATE DATABASE sp_3;CREATE DATABASE sp_4; CREATE DATABASE sp_5; CREATE DATABASE sp_6;'
      # Run Greenfield
      - name: Run Greenfield
        run: |
          /bin/cp -rf test/e2e/localup_env/greenfield_env greenfield/deployment/localup/.local
          cd greenfield
          bash ./deployment/localup/localup.sh start 1
          cd ..
      # Run Greenfield-SPs
      - name: Run Greenfield-SPs
        run: |
          /bin/cp -rf test/e2e/localup_env/greenfield_sp_env deployment/localup/local_env
          /bin/cp build/gnfd-sp deployment/localup/local_env/sp0/gnfd-sp0
          /bin/cp build/gnfd-sp deployment/localup/local_env/sp1/gnfd-sp1
          /bin/cp build/gnfd-sp deployment/localup/local_env/sp2/gnfd-sp2
          /bin/cp build/gnfd-sp deployment/localup/local_env/sp3/gnfd-sp3
          /bin/cp build/gnfd-sp deployment/localup/local_env/sp4/gnfd-sp4
          /bin/cp build/gnfd-sp deployment/localup/local_env/sp5/gnfd-sp5
          /bin/cp build/gnfd-sp deployment/localup/local_env/sp6/gnfd-sp6
          bash ./deployment/localup/localup.sh --start
          sleep 5
          tail -n 1000 deployment/localup/local_env/sp0/gnfd-sp.log
          ps -ef | grep gnfd-sp | wc -l
      # Run E2E Test
      - name: Run Greenfield E2E Test
        run: |
          git clone https://github.com/bnb-chain/greenfield-integration-test.git
          cd greenfield-integration-test
          git checkout ${{ env.GreenfieldIntegrationTestBranch }}
          cd ..
          /bin/cp -rf test/e2e/localup_env/integration_config/config.yml greenfield-integration-test/config/config.yml
          cd greenfield-integration-test
          go test tests/smoke/new_sdk_test.go
          cd ..